@import '~bootstrap/scss/bootstrap-grid.scss';

.ReactSnapScroll {
  height: 100vh;
}

.row {
  margin: 0 !important;
}

.banner {
  height: 100%;
  background-color: rgb(63, 138, 236);

  #banner-portrait-container {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    img {
      @include media-breakpoint-up(lg) {
        height: 90vh;
      }

      @include media-breakpoint-down(md) {
        width: 80%;
      }
    }
  }

  #banner-text > div {
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
      width: 50vw;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      width: 100vw;
    }
  }
}