@font-face {
  font-family: 'Permanent Marker';
  src: url("fonts/PermanentMarker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: bolder;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Lato' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2c2c !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}