.full-height {
  height: 100vh;
}

.no-horizontal-scroll {
  overflow-x: hidden;
}

.snap-y-scroll-container {
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.snap-x-scroll-container {
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
}

.snap-scroll-section {
  scroll-snap-align: start;
  position: relative;
}

.row {
  margin: 0 !important;
}