@import '../variables.scss';

.timeline {
    color: $secondary-color-light;
    display: flex;
    flex-direction: row;

    &:first-of-type {
        margin-top: 25px;
    }

    &:last-of-type {
        margin-bottom: 25px;
    }

    & > .date-container {
        position: relative;
        width: 200px;
        text-align: center;
        border-right: 1px dotted $secondary-color-light;
        padding-top: 15px;
        flex-shrink: 0;

        &::after {
            position: absolute;
            top: 22px;
            right: -5px;
            content: "";
            width: 10px;
            height: 10px;
            background-color: $secondary-color-light;
        }
    }

    & > .details {
        padding-top: 10px;
        padding-left: 30px;

        & > h1 {
            display: inline-block;
            margin-left: -10px;
            font-size: 1.75rem;
        }

        & > h3 {
            display: inline-block;
            font-size: 1.25rem;
            padding-left: 5px;
        }
    }
}