@import '../variables.scss';

#resume {
    padding: 5%;

    h2 {
        color: $secondary-color-light;
        border-bottom: 1px dashed mix($secondary-color-light, $secondary-color, 40);
        padding-bottom: 10px;
    }

    #experience {
        color: $secondary-color-light;

        #timeline {
            height: 400px;
            margin-left: 5%;
            border-left: 2px solid $secondary-color-light;
        }

        .details {
            display: none;
        }
    }
}