@import '../variables.scss';

#resume {
    padding: 5%;

    h2 {
        color: $secondary-color-light;
        border-bottom: 1px dashed mix($secondary-color-light, $secondary-color, 40);
        padding-bottom: 10px;
    }

    #experience {
        color: $secondary-color-light;

        #timeline {
            & > li {
                list-style-type: none;

                & > .date-container {
                    display: inline-block;
                    width: 130px;
                    border-right: 2px solid $secondary-color-light;
                }

                & > .details {
                    display: inline-block;
                }
            }
        }
    }
}