@import '../variables.scss';

#resume {
    padding: 5%;

    h2 {
        color: $secondary-color-light;
        border-bottom: 1.5px dashed mix($secondary-color-light, $secondary-color, 40);
        padding-bottom: 10px;
    }
}