@import '../variables.scss';

#resume {
    padding: 5%;

    h2 {
        color: $secondary-color-light;
        border-bottom: 1px dashed mix($secondary-color-light, $secondary-color, 40);
        padding-bottom: 10px;
    }

    #experience {
        color: $secondary-color-light;

        #timeline {
            height: 400px;
            margin-left: 20px;
            border-left: 2px solid $secondary-color-light;

            & > li {
                list-style-type: none;

                &::before {
                    content: '◉';
                    font-size: 3rem;
                    margin-left: -20px;
                }
            }
        }

        .details {
            display: none;
        }
    }
}